<div class="modal modal-main" id="modal-main" aria-hidden="true">
  <div class="modal__wrapper">
    <div class="modal__inner">
      <div class="modal__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum corrupti, officia omnis vitae quae quidem nostrum
        aliquid voluptas consectetur laudantium, qui excepturi recusandae dolorem doloribus aperiam ratione eius numquam
        debitis.
      </div>
      <button class="modal__close" data-modal-close>X</button>
    </div>
  </div>
</div>
