<section class="cards" id="cards">
  <div class="container">
    <div class="cards__inner">
      <h2 class="cards__title title">Выберите подходящую карту</h2>
      <div class="cards__text">
        Выберите идеальную карту, соответствующую вашим потребностям. Получите эксклюзивные привилегии и выгоды при
        аренде автомобиля. Наслаждайтесь комфортом и удобством с нашими клубными картами.
      </div>
    </div>
  </div>
  <div class="cards__slider-wrapper">
    <div class="container">
      <div class="cards__slider swiper">
        <div class="swiper-wrapper">
          <div class="cards__item card card--hover swiper-slide">
            <div class="card__inner">
              <div class="card__header">
                <div class="card__logo">
                  <img src="img/logo.svg" width="117" height="18" alt="Логотип на карте Logo Yo">
                </div>
                <div class="card__caption">Premium</div>
              </div>
              <div class="card__holder">Efrosin Tarasov</div>
            </div>
            <div class="card__info">
              <ul class="card__info-list">
                <li class="card__info-item">
                  <div class="card__info-caption">Размер депозита</div>
                  <div class="card__info-value">2 000 000 руб.</div>
                </li>
                <li class="card__info-item">
                  <div class="card__info-caption">Скидка на аренду</div>
                  <div class="card__info-value">40%</div>
                </li>
                <li class="card__info-item">
                  <div class="card__info-caption">Срок действия</div>
                  <div class="card__info-value">Без срока</div>
                </li>
              </ul>
            </div>
            <a class="card__btn btn btn--lg" href="#">Оформить карту</a>
          </div>
          <div class="cards__item card card--hover card--blue swiper-slide">
            <div class="card__inner">
              <div class="card__header">
                <div class="card__logo">
                  <img src="img/logo.svg" width="117" height="18" alt="Логотип на карте Logo Yo">
                </div>
                <div class="card__caption">Standard</div>
              </div>
              <div class="card__holder">Pyotr Kuznetsov</div>
            </div>
            <div class="card__info">
              <ul class="card__info-list">
                <li class="card__info-item">
                  <div class="card__info-caption">Размер депозита</div>
                  <div class="card__info-value">500 000 руб.</div>
                </li>
                <li class="card__info-item">
                  <div class="card__info-caption">Скидка на аренду</div>
                  <div class="card__info-value">10%</div>
                </li>
                <li class="card__info-item">
                  <div class="card__info-caption">Срок действия</div>
                  <div class="card__info-value">1 год</div>
                </li>
              </ul>
            </div>
            <a class="card__btn btn btn--lg" href="#">Оформить карту</a>
          </div>
          <div class="cards__item card card--hover card--white swiper-slide">
            <div class="card__inner">
              <div class="card__header">
                <div class="card__logo">
                  <img src="img/logo.svg" width="117" height="18" alt="Логотип на карте Logo Yo">
                </div>
                <div class="card__caption">Silver</div>
              </div>
              <div class="card__holder">Sveta Kovaleva</div>
            </div>
            <div class="card__info">
              <ul class="card__info-list">
                <li class="card__info-item">
                  <div class="card__info-caption">Размер депозита</div>
                  <div class="card__info-value">1 000 000 руб.</div>
                </li>
                <li class="card__info-item">
                  <div class="card__info-caption">Скидка на аренду</div>
                  <div class="card__info-value">20%</div>
                </li>
                <li class="card__info-item">
                  <div class="card__info-caption">Срок действия</div>
                  <div class="card__info-value">1 год</div>
                </li>
              </ul>
            </div>
            <a class="card__btn btn btn--lg" href="#">Оформить карту</a>
          </div>
          <div class="cards__item card card--hover card--yellow swiper-slide">
            <div class="card__inner">
              <div class="card__header">
                <div class="card__logo">
                  <img src="img/logo.svg" width="117" height="18" alt="Логотип на карте Logo Yo">
                </div>
                <div class="card__caption">Silver</div>
              </div>
              <div class="card__holder">Anastasiya Zaytseva</div>
            </div>
            <div class="card__info">
              <ul class="card__info-list">
                <li class="card__info-item">
                  <div class="card__info-caption">Размер депозита</div>
                  <div class="card__info-value">1 500 000 руб.</div>
                </li>
                <li class="card__info-item">
                  <div class="card__info-caption">Скидка на аренду</div>
                  <div class="card__info-value">30%</div>
                </li>
                <li class="card__info-item">
                  <div class="card__info-caption">Срок действия</div>
                  <div class="card__info-value">Без срока</div>
                </li>
              </ul>
            </div>
            <a class="card__btn btn btn--lg" href="#">Оформить карту</a>
          </div>
        </div>
      </div>
    </div>
    <div class="cards__button-prev swiper-button-prev" role="button" tabindex="0" aria-label="Предыдущий слайд"></div>
    <div class="cards__button-next swiper-button-next" role="button" tabindex="0" aria-label="Следующий слайд"></div>
  </div>
</section>
