<section class="cars">
  <div class="container">
    <div class="cars__inner">
      <h2 class="cars__title title">Персональные условия по&nbsp;тарифам только для&nbsp;владельцев клубной карты</h2>
    </div>
  </div>
  <div class="cars__content">
    <div class="container">
      <ul class="cars__list">
        <li class="cars__item">
          <div class="cars__name">Rolls-Royce Wraith</div>
          <div class="cars__img">
            <picture>
              <source srcset="img/cars-1.webp 1x, img/cars-1@2x.webp 2x" type="image/webp">
              <img src="img/cars-1.png" srcset="img/cars-1.png 1x, img/cars-1@2x.png 2x" width="261" height="164"
                alt="Автомобиль Rolls-Royce Wraith" title="Автомобиль Rolls-Royce Wraith">
            </picture>
          </div>
          <div class="cars__price-old">79.000 руб/сутки</div>
          <div class="cars__price">49.000 руб/сутки</div>
        </li>
        <li class="cars__item">
          <div class="cars__name">Mercedes - Benz G</div>
          <div class="cars__img">
            <picture>
              <source srcset="img/cars-2.webp 1x, img/cars-2@2x.webp 2x" type="image/webp">
              <img src="img/cars-2.png" srcset="img/cars-2.png 1x, img/cars-2@2x.png 2x" width="275" height="195"
                alt="Автомобиль Mercedes - Benz G" title="Автомобиль Mercedes - Benz G">
            </picture>
          </div>
          <div class="cars__price-old">54.000 руб/сутки</div>
          <div class="cars__price">29.000 руб/сутки</div>
        </li>
        <li class="cars__item">
          <div class="cars__name">Dodge Challenger SRT</div>
          <div class="cars__img">
            <picture>
              <source srcset="img/cars-3.webp 1x, img/cars-3@2x.webp 2x" type="image/webp">
              <img src="img/cars-3.png" srcset="img/cars-3.png 1x, img/cars-3@2x.png 2x" width="272" height="137"
                alt="Автомобиль Dodge Challenger SRT" title="Автомобиль Dodge Challenger SRT">
            </picture>
          </div>
          <div class="cars__price-old">20.000 руб/сутки</div>
          <div class="cars__price">11.900 руб/сутки</div>
        </li>
        <li class="cars__info">
          <div class="cars__info-num"><span>20</span>+</div>
          <div class="cars__info-text">автомобилей в аренду со скидкой до 40%</div>
        </li>
      </ul>
    </div>
    <div class="cars__line"></div>
  </div>

</section>
