<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__info">
        <h1 class="hero__title">Стань частью клуба Logo yo</h1>
        <div class="hero__text">Узнайте о преимуществах наших Клубных карт для&nbsp;аренды авто. Эксклюзивные
          предложения,
          бесплатные дни и&nbsp;многое другое ждут вас. Присоединяйтесь к&nbsp;клубу уже сегодня!</div>
        <div class="hero__btn-wrapper">
          <a class="hero__btn btn-circle" href="#cards">Выбрать карту</a>
        </div>
      </div>
      <div class="hero__cards">
        <div class="hero__card card">
          <div class="card__inner">
            <div class="card__header">
              <div class="card__caption">Premium</div>
            </div>
            <div class="card__holder">Efrosin Tarasov</div>
          </div>
        </div>
        <div class="hero__card card card--yellow">
          <div class="card__inner">
            <div class="card__header">
              <div class="card__logo">
                <img src="img/logo.svg" width="117" height="18" alt="Логотип на карте Logo Yo">
              </div>
              <div class="card__caption">Gold</div>
            </div>
            <div class="card__holder">Anastasiya Zaytseva</div>
          </div>
        </div>
        <div class="hero__card card card--white">
          <div class="card__inner">
            <div class="card__header">
              <div class="card__logo">
                <img src="img/logo.svg" width="117" height="18" alt="Логотип на карте Logo Yo">
              </div>
              <div class="card__caption">Silver</div>
            </div>
            <div class="card__holder">Sveta Kovaleva</div>
          </div>
        </div>
        <div class="hero__card card card--blue">
          <div class="card__inner">
            <div class="card__header">
              <div class="card__caption">Standard</div>
            </div>
            <div class="card__holder">Pyotr Kuznetsov</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
