<section class="services">
  <div class="container">
    <div class="services__inner">
      <ul class="services__row">
        <li class="services__col">
          <div class="services__box"> Элегантный подарок на любой случай.</div>
          <a class="services__item" href="#" style="background-image: url('img/services-1.jpg');">
            <h5 class="services__name">На новый год</h5>
            <div class="services__text">Дарите незабываемые впечатления перед Новым годом.</div>
          </a>
        </li>
        <li class="services__col">
          <div class="services__box">Автомобили всегда чистые и заправленные.</div>
          <a class="services__item" href="#" style="background-image: url('img/services-2.jpg');">
            <h5 class="services__name">На Выходные</h5>
            <div class="services__text">Отличное дополнение для тех, кто ищет отдых.</div>
          </a>
        </li>
        <li class="services__col">
          <a class="services__item" href="#" style="background-image: url('img/services-3.jpg');">
            <h5 class="services__name">На день рождения</h5>
            <div class="services__text">Эксклюзивное сюрпризное предложение для юбиляра.</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
