{% extends "../templates/layouts/layout.njk" %}

{% block content %}
{% include "../templates/blocks/hero.njk" %}
{% include "../templates/blocks/cars.njk" %}
{% include "../templates/blocks/cards.njk" %}
{% include "../templates/blocks/services.njk" %}
{% endblock content %}
